# Sentinel Frontend Environment Variables

# Backend API URL
NUXT_PUBLIC_API_BASE_URL=https://sentinel-api.test/api
NUXT_PUBLIC_REVERB_APP_KEY=sentinel-local-key
NUXT_PUBLIC_REVERB_HOST=localhost
NUXT_PUBLIC_REVERB_PORT=8080
NUXT_PUBLIC_REVERB_SCHEME=http
